[Unit]
Description=Timer for downloadcloudsmap

[Timer]
# Persistent=true start as soon as possible the firt time (after reboot for example)
Persistent=true
OnBootSec=0s
#OnCalendar=hourly
OnCalendar="*-*-* 02:00:00"
Unit=downloadcloudsmap.service

[Install]
WantedBy=default.target
